<!-- src/app/components/filter-panel/filter-panel.component.html -->
<mat-card class="filter-panel">
  <mat-card-header>
    <mat-card-title>Filters</mat-card-title>
  </mat-card-header>
  
  <mat-card-content>
    <form [formGroup]="filterForm" (ngSubmit)="applyFilters()">
      <div class="filter-form">
        <div class="filter-column">
          <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <mat-select formControlName="phoneNumber">
              <mat-option [value]="">All Phone Numbers</mat-option>
              <mat-option *ngFor="let number of phoneNumbers" [value]="number">
                {{ number }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
        <div class="filter-column">
          <mat-form-field appearance="outline">
            <mat-label>Time Range</mat-label>
            <mat-select formControlName="timeRange">
              <mat-option *ngFor="let range of timeRanges" [value]="range.value">
                {{ range.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <div class="custom-date-range" *ngIf="showCustomDateRange">
            <mat-form-field appearance="outline" class="date-field">
              <mat-label>Start Date</mat-label>
              <input matInput [matDatepicker]="startPicker" formControlName="startDate">
              <mat-hint>Local time: 00:00:00</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
              <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="date-field">
              <mat-label>End Date</mat-label>
              <input matInput [matDatepicker]="endPicker" formControlName="endDate">
              <mat-hint>Local time: 23:59:59</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
              <mat-datepicker #endPicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        
        <div class="filter-column">
          <mat-form-field appearance="outline">
            <mat-label>Auto Refresh</mat-label>
            <mat-select formControlName="refreshInterval">
              <mat-option *ngFor="let interval of refreshIntervals" [value]="interval.value">
                {{ interval.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <div class="filter-actions">
            <button mat-raised-button color="primary" type="submit">
              <mat-icon>filter_list</mat-icon> Apply
            </button>
            <button mat-stroked-button type="button" (click)="resetFilters()">
              <mat-icon>clear</mat-icon> Reset
            </button>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>